body{
    padding: 0;
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
    color: white;
    background-color: #221F20;
    min-width: 375px;
    overflow-x: hidden;
}

.logo{
    width: 50px;
    height: 50px;
}

nav{
    height: 95px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #E8DDD1;
    min-height: 8vh;
}

i{
    font-size: 1.5rem;
    position: absolute;
    left: 20px;
    top: 20px;
    color: #85827f;
}

.gif{
    height: 234px;
    width: 100%;
}

.quote{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
}

.attributes{
    display: flex;
    flex-direction: column;

}

header {
    position: relative; /* add this to ensure that the section is positioned relative to the entire page */
    z-index: -1;
}

.quotes > h2{
    font-size: 1.25rem;
}

.quotes > h3{
    font-size: 1rem;
    color: white;
    font-family: 'Caveat', cursive;
}

.quotes{
    height: 234px;
    color: #CDB69E;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 0px 0.8em;
    
}

.quotes hr {
    height: 4px;
    width: 110px;
    border: none;
    background: #85827f;
}

.main{
    height: 612px;
    background-color:#E8DDD1;
    display:flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.service{
    color: black;
    font-size: 1.125rem;
    font-weight: bold;
    border-bottom: 3px solid #85827F;
    margin-top: 45px;
    margin-bottom: 17px;
}

.manuel{
    font-size: 0.75rem;
    width: 260px;
    color: black;
    font-weight: bold;
}

.large{
    font-size: 6rem;
}

h5{
    margin: 10px;
    border-bottom: 3px solid white;
    padding: 0;
    letter-spacing: 0.1em;
    cursor: pointer;
}

.ankerbtn{
    background-color: black;
    font-weight: bold;
    padding: 7px 17px;
    letter-spacing: 0.1em;
    margin-top: 33px;
    text-decoration: none;
    color: white;

}

h1{
    margin: 10px 0px;
}

/* Everything slider from now on. */

.pictures{
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider {
    width: 100%;
    height: 240px;
    overflow: hidden;
}

.slides {
    width: 500%;
    height: 240px;
    display: flex;
}

.slides > input{
    display: none;
}

.slide{
    width: 20%;
    transition: 2s;
}

.slide > img{
    width: 100%;
    height: 240px;
}

/* manual slide animation */

.navigation-manual{
    position: absolute;
    width: 100%;
    margin-top: -40px;
    display: flex;
    justify-content: center;
}

.manual-btn{
    border: 2.5px solid #E8DDD1;
    padding: 4.5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.manual-btn:not(:last-child){
    margin-right: 40px;
}

.manual-btn:hover{
    background: #E8DDD1;
}

#radio1:checked ~ .first{
    margin-left: 0;
}

#radio2:checked ~ .first{
    margin-left: -20%;
}

#radio3:checked ~ .first{
    margin-left: -40%;
}

#radio4:checked ~ .first{
    margin-left: -60%;
}
/*Automatic navigation*/

.navigation-auto{
    margin-top: 200px;
    width: 100%;
    display: flex;
    justify-content: center;
    position: absolute;
}

.navigation-auto div{
    border: 2px solid #E8DDD1;
    padding: 5px;
    border-radius: 10px;
    transition: 1s;
}

.navigation-auto div:not(:last-child){
    margin-right: 40px;
}

#radio1:checked ~ .navigation-auto .auto-btn1{
    background: #E8DDD1;
}

#radio2:checked ~ .navigation-auto .auto-btn2{
    background: #E8DDD1;
}

#radio3:checked ~ .navigation-auto .auto-btn3{
    background: #E8DDD1;
}

#radio4:checked ~ .navigation-auto .auto-btn4{
    background: #E8DDD1;
}

/*Slide stops */


/* FAQ Questions and Answers */

.faqsec{
    height: fit-content;
    width: 80vw;
    max-width: 377px;
    min-width: 317px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.faq{
    max-width: 700px;
    height: fit-content;
    margin-top: 2rem;
    padding-bottom: 1rem;
    border-bottom: 2px solid #fff;
    cursor: pointer;
    background-color: #221F20;
}

.question{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
}

.question h4{
    font-size: 1rem;
    margin: 0;
}

.answer{
    max-height: 0;
    overflow: hidden;
    transition: max-height 1.4s ease;
}

.answer p{ 
    font-size: 12px;
    padding-top: 0.9rem;
    line-height: 1.3;
    color: #fff;
    margin: 0;
}

.faq.active .answer{
    max-height: 200px;
    animation: fade 1s ease-in-out;
}

.lastmf{
    margin-bottom: 3rem;
}

.firstmf{
    margin-top: 0.8rem;
}

.faq.active svg{
    transform: rotate(180deg);
}

svg{
    transition: transform 0.5s ease-in;
}

@keyframes fade{
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0px);
    }
}

/* nav bar*/

.nav-links{
    display: flex;
    width: 40%;
    position: fixed;
    right: 0;
    height: 100vh;
    top: 0;
    background-color: white;
    flex-direction: column;
    align-items: center;
    gap: 85px;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
    margin-top: 0;
    justify-content: center;
    z-index: 9999;
}

.nav-links a{
    display: flex;
    color: black;
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 14px;
}

.nav-links li{
    list-style: none;
    opacity: 0;
    
}

.burger div{
    width: 25px;
    height: 3px;
    background-color: black;
    margin: 2px;
    transition: all 0.3s ease;
}

.burger {
    position: fixed;
    top: 27px;
    right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 9999;
    background-color: white;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    padding: 3px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    flex-direction: column;
}

.nav-active{
    transform: translateX(0%);
}

@keyframes navLinkFade {
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}

.toggle .line1{
    transform: rotate(-45deg) translate(-5px,6px)
}
.toggle .line2{
    opacity: 0;
}
.toggle .line3{
    transform: rotate(45deg) translate(-5px,-6px)

}